{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#post}}
<main id="site-main" class="site-main outer">

{{#get "tags" filter="slug:[industrial, medical, residential, military]"}}
    <div class="inner posts">
        <div class="post-feed">
            <section class="post-card post-card-large">
                <div class="post-card-content">
                <div class="post-card-content-link">
                    <header class="post-card-header">
                        <h1 class="post-card-title">Category</h2>
                    </header>
                </div>
                </div>
            </section>

        {{#foreach tags}}
        {{!-- {{#has slug="urbex-belgium"}} --}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "category-card"}}
        {{!-- {{/has}} --}}
        {{/foreach}}
        </div>
    </div>
{{/get}}

{{#get "tags" filter="slug:[urbex-belgium, urbex-germany]"}}
    <div class="inner posts">
        <div class="post-feed">
            <section class="post-card post-card-large">
                <div class="post-card-content">
                <div class="post-card-content-link">
                    <header class="post-card-header">
                        <h1 class="post-card-title">Country</h2>
                    </header>
                </div>
                </div>
            </section>

        {{#foreach tags}}
        {{!-- {{#has slug="urbex-belgium"}} --}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "category-card"}}
        {{!-- {{/has}} --}}
        {{/foreach}}
        </div>
    </div>
{{/get}}

{{#get "tags" filter="slug:[2022, 2023]" order="id asc"}}
    <div class="inner posts">
        <div class="post-feed">
            <section class="post-card post-card-large">
                <div class="post-card-content">
                <div class="post-card-content-link">
                    <header class="post-card-header">
                        <h1 class="post-card-title">Year</h2>
                    </header>
                </div>
                </div>
            </section>

        {{#foreach tags}}
        {{!-- {{#has slug="urbex-belgium"}} --}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "category-card"}}
        {{!-- {{/has}} --}}
        {{/foreach}}
        </div>
    </div>
{{/get}}
</main>
{{/post}}